body {
  background: #d3d3d3;
}

.wrapper {
  margin: auto;
  margin-top: 5%;
  width: 60%;
  border: 0.5px solid gray;
  box-shadow: 1px 4px grey;
  background-color: #fff;
}

.wrapper > div {
  border-bottom: grey solid 1px;
  padding: 1rem 0;
}

.list-items {
  border-bottom: grey solid 1px;
  padding: 1rem 0;
}

.list-items,
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.list-items:last-child {
  border-bottom: none;
}

#flex-start {
  margin-left: 1rem;
}

.delete-btn {
  margin-right: 1rem;
}

.clear {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.list-items p {
  text-align: left;
}

.flex > * {
  padding: 1rem;
}

.start {
  justify-content: flex-start;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .list-items p {
    margin-left: -50%;
  }
}

.end {
  justify-content: flex-end;
  padding: 1rem;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.hide {
  display: none;
}

.hide {
  display: none;
}

.completed {
  text-decoration: line-through;
}

form {
  width: 100%;
}

input {
  width: 100%;
  margin: 0;
  padding: 0;
}
